<div [formGroup]="userForm" #myform="ngForm">
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control has-error" id="email" type="text" formControlName="email" />
        <v-message [control]="userForm.get('email')" [submitted]="submitted">Required</v-message>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input class="form-control has-error" id="first_name" type="text" formControlName="first_name" />
                <v-message [control]="userForm.get('first_name')" [submitted]="submitted">Required</v-message>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input class="form-control has-error" id="last_name" type="text" formControlName="last_name" />
                <v-message [control]="userForm.get('last_name')" [submitted]="submitted">Required</v-message>
            </div>
        </div>
    </div>
    <ng-container formArrayName="profile_images">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 pb-2">
                <label>Images <span>(Only 10 images are allow)</span></label>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="d-flex flex-wrap">
                    <div *ngFor="let image of images.controls;  let i = index">
                        <image-form-control [aspectRatio]="1/1" [formControlName]="i"
                            (onImageChange)="imageChange($event)">

                        </image-form-control>
                        <v-message [control]="images.controls[i]" [submitted]="submitted"></v-message>
                    </div>
                    <image-selector *ngIf="images.length < 10" [rules]="imageRules">
                        <ng-template #default let-openBrowser>
                            <div (click)="openBrowser($event)"
                                style="width: 100px; cursor: pointer; min-height: 100px; border: 1px dotted #cccccc;"
                                class="d-flex h-100 justify-content-center align-items-center flex-wrap">
                                <em class="fa fa-plus"></em>
                            </div>
                        </ng-template>
                    </image-selector>

                </div>
                <v-message [control]="images" [submitted]="submitted"></v-message>
            </div>

        </div>
    </ng-container>
    <div class="row pt-2">
        <ng-container [formGroup]="userForm.controls.aadhard_card">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="certifcate_file">Aadhar Card Front:</label>
                    <file-form-control formControlName="front"></file-form-control>
                    <v-message [control]="userForm.controls.aadhard_card.get('front')" [submitted]="submitted">
                    </v-message>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="certifcate_file">Aadhar Card Back:</label>
                    <file-form-control formControlName="back"></file-form-control>
                    <v-message [control]="userForm.controls.aadhard_card.get('back')" [submitted]="submitted">
                    </v-message>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-container formArrayName="other_proofs">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row  align-items-center">
                        <div class="col-md-6 col-sm-12">
                            Other Proofs (Only 6 files are allow)
                            <file-selector [rules]="otherProofRules" class="d-inline-block">
                                <ng-template #default let-openBrowser>
                                    <button type="button" class="btn btn-primary btn-link" (click)="openBrowser($event)">
                                        <em class="fa fa-plus"></em>
                                    </button>
                                </ng-template>
                            </file-selector>
                        </div>
                    </div>
                    <v-message [control]="otherProofs" [submitted]="submitted"></v-message>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-6"
                            *ngFor="let otherProof of otherProofs.controls;  let proofIndex = index">
                            <div class="form-group">
                                <file-form-control [aspectRatio]="1/1" [formControlName]="proofIndex"
                                    (onImageChange)="imageChange($event)">
                                </file-form-control>
                                <v-message [control]="otherProof" [submitted]="submitted"></v-message>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-container>

    <h4>User Addresses: </h4>
    <div class="row" *ngFor="let address of addresses.controls;  let i = index">
        <ng-container [formGroup]="address">
            <div class="col-md-10 col-sm-10">
                <div class="row">
                    <div class="col-md-3 col-sm-3 ">
                        <div class="form-group w-100 h-100 d-flex"
                            style="align-items: center; justify-content: center;">
                            <image-form-control formControlName="proof_file"></image-form-control>
                            <v-message [control]="address.get('proof_file')" [submitted]="submitted">Required
                            </v-message>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="form-group">
                            <label for="line1">Line 1:</label>
                            <input class="form-control " id="line1" type="text" formControlName="line1" />
                            <v-message [control]="address.get('line1')" [submitted]="submitted">Required
                            </v-message>
                        </div>
                        <div class="form-group">
                            <label for="line2">Line 2:</label>
                            <input class="form-control " id="line2" type="text" formControlName="line2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 flex"
                style="justify-content: space-evenly; flex-direction: column; align-items:center">
                <button *ngIf="i >0" type="button" class="btn btn-danger " (click)="removeAddress(i)">Remove</button>
                <button type="button" class="btn btn-warning pull-right" (click)="addAddress(i)">Add+</button>
            </div>
        </ng-container>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <submit-btn>{{btnLabel}}</submit-btn>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button class="btn btn-danger" (click)="setErrors()" type="button">Set Custom Errors</button>
        </div>
    </div>

</div>